.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 20px;
    font-size: var(--text-lg);
}

.instruction {
    font-size: var(--text-base);
    line-height: 110%;
}