.uploadButton {
    font-size: var(--text-lg);
    padding: 15.5px 51.5px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    color: #201b10;
    flex: 1;
    max-width: 450px;
    overflow: hidden;
    text-wrap: nowrap;
    white-space: nowrap;
    text-overflow: ellipsis;
    
}

.primary {
    background-color: #fff;
}

.start {
    background-color: #2AE881;
    border-radius: 25px;
    font-weight: 500;
}

.uploaded {
    background-color: #cb81ff;
    cursor: auto;
}

.parsing {
    background-color: #cb81ff;
    width: 330px;
    cursor: auto;
}

.done {
    background-color: #d4fae6;
    cursor: auto;
}

.error {
    background-color: #ff5f00;
    color: #fff;
}

.hint {
    margin-top: 10px;
    color: #201b10;
}

.hintError {
    color: #ff5f00;
}

.loaderImg {
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.buttonContainer {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    /* width: 100%; */
    max-width: 550px;
}


.clearButton {
    background-color: #201b10;
    border-radius: 10px;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hidden {
    display: none;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 550px;
}