.layoutContainer {
    padding: 40px;
    display: flex;
    flex-direction: column;
    background-color: #fce2ff;
    width: 100vw;
    height: 100vh;
    gap: 80px;
}

.childrenContainer {
    display: flex;
    flex-direction: column;
}
