.button {
    padding: 20.5px 27px;
    border-radius: 25px;
    font-size: var(--text-lg);
    font-weight: 500;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    line-height: 110%;
}

.primary {
    background-color: #2ae881;
    color: #201b10;
}

.primary:hover {
    opacity: 0.9;
}

.disabled {
    background-color: #c0c0c0;
    color: #787878;
    cursor: not-allowed;
}

.download {
    background-color: #fce300;
    color: #201b10;
}

.download:hover {
    opacity: 0.9;
}

.clear {
    background-color: #201b10;
    color: white;
}

.clear:hover {
    opacity: 0.9;
}
