.mainContainer {
    height: 60px;
    display: flex;
    justify-content: space-between;
}

.logoAndName {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 831px;
}
